@import 'tailwindcss';

body {
    margin: 0;
    /*
    Commenting property out for now since it causes all pages to be unscrollable
    overflow: hidden;
    */
}

#toolbar {
    position: absolute;
    width: 20%;
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: aliceblue;
    padding: 10pt;
    margin: 5pt;
    border: thin solid black;
    border-radius: 3pt;
}

#toolbar > button {
    margin:10px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#nodeColorPicker {
    border-radius: 5px;
    margin: 5px;
}

#toolbar > h1 {
    font-size: xx-large;
}

.node-content > div {
    position:absolute;
    background-color: cornflowerblue;
    border: thick solid black;
    width: 500pt;
    aspect-ratio: 1 / 1;
    top: 15%;
    left: 32%;
    padding: 10pt;
    border-radius: 100%;
}

.node-content > div > h1 {
    text-align: center;
    margin: 10pt;
}

textarea {
    resize: none;
    display: block;
    margin: auto;
}

textarea::placeholder {
    color: rgb(56, 56, 56);
}

img {
    display: block;
    margin: auto;
}

input[type="file"] {
    display: block;
    padding: 2%;
    width: 70%;
    margin: auto;
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
}

#node-content-image-label {
    display: block;
    padding: 1%;
    width:70%;
    margin: auto;
    background-color: rgb(58, 61, 73);
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
}

#big-node-close-button {
    background-color: rgb(214, 214, 214);
    border: medium solid black;
    padding: 2pt;
    border-radius: 8pt;
    position: relative;
    top: 225pt; 
    left: 220pt;
}

#node-image {
    max-width: 200pt; 
    max-height: 200pt;
    margin: 5pt auto;
    border-radius: 5pt;
    border: medium solid black;
}

#popup-bg {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.329);
}